<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Form view</h1>
    <hr>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }} {{ field }} <br>
        {% for error in field.errors %}
        <small style="color: red;">{{ error }}</small><br>
        {% endfor %}
        <br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>

</html>