<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Books list</h1>
    <hr>
    <div>
        {% for item in page_obj %}
        <div>
            <a href="{% url 'details' item.id %}">Title: {{item.title}}</a>
        </div>
        <hr>
        {% endfor %}
    </div>
    <br>
    <hr>
    <div>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Prevoius</a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;
        {{ page_obj.number }}
        &nbsp;&nbsp;&nbsp;
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</body>

</html>