<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Students</h1>
    {% if student %}
    {% for stu in student %}
    <h2>Student</h2>
    <h3>{{stu.name}}</h3>
    <h3>{{stu.address}}</h3>
    <h3>{{stu.email}}</h3>
    <h3>{{stu.age}}</h3>
    <br>
    <br>
    <br>
    {% endfor %}
    {%  else %}
    <h1 style="color: red;">No student details found</h1>
    {% endif %}
</body>

</html>