<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>All students</h1><hr>
    <div>
        {% for student in students %}
        <div>
            <h4>Name: {{ student.name }}</h4>
            <h4>Fathers name: {{ student.father_name }}</h4>
            <h4>Mothers name: {{ student.mother_name }}</h4>
            <h4>Address: {{ student.address }}</h4>
            <h4>Branch: {{ student.branch }}</h4>
            <h4>Age: {{ student.age }}</h4>
        </div><hr>
        {% endfor %}
    </div>
</body>

</html>